html, body {
    min-height: 100vh;
}

.index {
    min-height: calc(100vh - 64px - 78px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mud-chipset {
    align-items: center !important;
}

.mud-menu {
    height: -webkit-fill-available !important;
}

.movie-container {
    justify-content: space-between !important;
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    height: 300px;
    position: relative;
    transition: all .5s ease-in;
}

.card-image {
    display: block;
}

.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: rgba(33,33,33,0.4980392156862745);
}

.card:hover .card-overlay {
    opacity: 1;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.movie-card:hover {
    transform: scale(1.02);
}
